body{
   font-family: 'Montserrat',sans-serif;
}
#title{
   background-color: #ff4c68;
   color: #fff;
   /* height: 100vh;
   overflow: hidden; */
}
a,button{
   cursor: pointer;
}
.col h1{
   font-family: 'Montserrat', sans-serif;
   font-size: 3.5rem;
   line-height: 1.5;
   font-weight: bold;
   color: #fff;
}
.container{
   padding: 3% 15%;
}

ion-icon{
   padding: 2px;
}
.title-img{
   width: 20%;
   transform: rotate(20deg);
   position: absolute;
   margin-left: 5rem;
}
#navbar{
   padding-bottom: 4.5rem;
}

#brand{
   font-family: 'Ubuntu';
   font-size: 2.5rem;
   font-weight: bold;
}
.nav-item{
   padding: 0 18px;
}
#ni{
   font-size: 1.2rem;
   font-family: 'Montserrat-light';
}
.download-button{
   margin: 5% 3% 5% 0;
}
#features{
   padding: 7% 15%;
   background-color: #fff;
   position: relative;
   z-index: 1;
}
#features .fas{
   font-size: 30px;
}

#features h3{
   font-size: 25px;
   font-family: 'Montserrat';
   font-weight: bold;
}
#features p{
   padding: 0px 40px;
   color: #8f8f8f;
}
.icon{
   color: #ef8172;
   margin-bottom: 1rem;
   cursor: pointer;
}
.icon:hover{
   color: #ff4c68;
}

#testimonials{
   padding: 7% 15%;
   text-align: center;
   background-color: #ef8172;
   color: #fff;
}
#testimonials h2{
   /* font-family: 'Montserrat-bold'; */
   font-size: 2.5rem;
   line-height: 1.5;
}
.testimonial-image{
   width: 10%;
   border-radius: 50%;
   margin: 20px;
}
#press{
   background-color: #ef8172;
   text-align: center;
   padding-bottom: 3%;
}
.press-logo{
   width: 15%;
   margin: 20px 20px 50px;
}
.carousel-item{
   padding: 7% 15%;
}
.row{
   padding: 4% 4%;
}
#pricing{
   padding: 100px;
}
#pricing h2{
   font-size: 35px;
   font-family: 'Montserrat';
   font-weight: bold;
}

#cta{
   background-color: #ff4c68;
   padding: 3% 17%;
}
#cta h3{
   font-family: 'Montserrat', sans-serif;
   font-size: 3rem;
   line-height: 1.5;
   font-weight: bold;
   color: #fff;
   padding: 15px;
}
#cta button{
   margin: 20px;
}
#footer{
   padding: 60px;
}
#im{
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}
@media(max-width:1028px){
   #title h1{
      text-align: center;
      font-size: 30px;
   }
   .title-img{
      width: 10rem;
      position: static;
      transform: rotate(0);
   }
   #main{
      display: block;
      text-align: center;
      margin: auto;
      padding: 0;
   }
   #main h1{
      font-size: 35px;
   }
   #pricing{
      padding: 20%;
   }
   #cta{
      text-align: center;
      display: block;
      margin: auto;
   }
   #cta h3{
      font-size: 18px;
   }
 
}

/* #cta{
   background-color: #ff4c68;
   padding: 3% 17%;
}
#cta h3{
   font-family: 'Montserrat', sans-serif;
   font-size: 2.7rem;
   line-height: 1.5;
   font-weight: bold;
   color: #fff;
}
#cta button{
   margin-top: 30px;
} */